body {
  background: #ef5350; #e57373;
}
a {
    text-decoration: none;
    color: #ffebee;
}
a:visited {
  text-decoration: none;
  color: #ffebee;
}

.btn {
  margin:auto;
  display:block;
}
.btn-secondary {
  background-color: #d32f2f;
  border-color: #B71C1C;
  color: #ffebee;
}
.btn-secondary:hover {
  background-color: #e57373;
  border-color: #B71C1C;
  color: #ffebee;
}
.jumbotron {
  margin-top: 50px;
}
