body {
  background: #e57373;
}
.btn {
  margin:auto;
  display:block;
}
.btn-secondary {
  background-color: #c62828;
  border-color: #B71C1C;
  color: #ffebee;
}
.btn-secondary:hover {
  background-color: #ef5350;
  border-color: #B71C1C;
  color: #ffebee;
}
.jumbotron {
  margin-top: 50px;
}
